{% extends "fastboot.jinja2" %}

{% block metadata %}
  git branch: {{KERNEL_BRANCH}}
  git repo: {{KERNEL_REPO}}
  git commit: {{KERNEL_COMMIT}}
  git describe: {{KERNEL_DESCRIBE}}
  make_kernelversion: "{{MAKE_KERNELVERSION}}"
  kernel-config: {{KERNEL_CONFIG_URL}}
  kernel-defconfig: {{KERNEL_DEFCONFIG_URL}}
  build-url: {{BUILD_URL}}
  build-location: {{BASE_URL}}/{{PUB_DEST}}
  toolchain: {{TOOLCHAIN | default('unknown')}}
  series: lkft
  email-notification: {{CI_MAIL_RECIPIENTS | default('""')}}
{% endblock metadata %}

{% block deploy_target %}
{{ super() }}
- test:
    namespace: tlxc
    timeout:
      minutes: 30
    definitions:
    - from: inline
      name: kir
      path: inline/kir.yaml
      repository:
        metadata:
          description: Squash kernel, dtb and modules into rootfs
          format: Lava-Test Test Definition 1.0
          name: resize-rootfs
        run:
          steps:
          - pwd
          - cd /lava-lxc
          - git clone -b 20191120 https://github.com/linaro/kir.git
          - ./kir/lava/board_setup.sh {{DEVICE_TYPE}}

- deploy:
    timeout:
      minutes: 40
    to: fastboot
    namespace: target
    images:
      boot:
        url: lxc:///{{LXC_BOOT_FILE}}
{% if rootfs == true %}
      {{ rootfs_label }}:
        url: lxc:///{{LXC_ROOTFS_FILE}}
        apply-overlay: true
{% endif %}
    os: {{DEPLOY_OS}}
{% endblock deploy_target %}
